/*=== Base Rules ===*/

body {
  background: #480048;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

header {
  margin: 0;
  border: 0;
}

h1,
h2,
h3,
h4 {
  color: #648880;
}

h1,
h3,
h4,
h5,
p {
  margin-bottom: 22px;
}

h1 {
  font-size: 36px;
  line-height: 44px;
  border: 0;
}

h2 {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

strong {
  font-weight: 400;
}

cite,
em {
  font-style: italic;
}

a {
  color: #648880;
  text-decoration: none;
}

a:hover {
  color: #a9b2b9;
}

p a {
  border-bottom: 1px solid #dfe2e5;
}

nav {
  text-align: right;
  margin-bottom: 5%;
}

nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}

nav li:last-child {
  margin-right: 0;
}

/*
 *=========================
 * Grid
 *=========================
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container,
.teaser-box {
  margin: 0 auto;
  width: 80vw;
}

.container {
  padding-left: 5%;
  padding-right: 5%;
}

/*=============*/
/* Clearfix*/
/*=============*/

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

/*===========*/
/* Typography*/
/*===========*/

.yiddish-title {
  margin-bottom: 0;
  font-family: serif;
  font-style: normal;
  font-weight: 700;
}

.english-title {
  color: white;
  font-family: serif;
  font-weight: 100;
  margin-top: 3%;
}

/*==================*/
/* Primary header*/
/*==================*/

.logo {
  border-top: 4px solid #648880;
  font-size: 48%;
  font-weight: 100;
  letter-spacing: 0.5%;
  margin: 0;
  align-self: flex-end;
}

.tag-and-nav {
  align-self: flex-end;
}

.tagline {
  margin: 15% 0 5% 0;
  text-align: right;
  font-weight: 100;
}

.yiddish-title,
.tagline {
  color: #480048;
}

.primary-nav {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.primary-header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.primary-header a,
.primary-footer a {
  color: #fff;
}

.primary-header a:hover,
.primary-footer a:hover {
  color: #648880;
}

.header-image {
  height: 100vh;
  background-color: #648880;
  background-image: url("../images/yene-velt-2020-12-sepia.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*==================*/
/* Primary footer*/
/*==================*/
.primary-footer {
  color: #648880;
  font-size: auto;
  padding-bottom: 2%;
  padding-top: 2%;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

.primary-footer small {
  margin-top: 1%;
  font-weight: 400;
}

/*==============*/
/*HOME*/
/*==============*/

.hero {
  color: #fff;
  line-height: 200%;
  padding: 2.5% 8% 7% 8%;
  text-align: center;
}

.hero h2 {
  font-size: 300%;
}

.hero p {
  font-size: 150%;
}
